#doinwell {
  color: #EA526F;
}
.button.button.is-outlined {
  color: #EA526F;
  border-color: #EA526F;
}
.button.button.is-outlined:hover {
  color: white;
  background-color: #EA526F;
  border-color: #EA526F;
}
