#toplevel.container {
  margin-top: 10px;
}
#mainpic {
  background-color: #EA526F;
  background-blend-mode: multiply;
}

.coolpictureman {
  background-image: url("https://user-images.githubusercontent.com/955730/27767950-f101c472-5ebb-11e7-943e-2dcb0d13ab56.jpg");
  background-color: #EA526F;
  background-blend-mode: multiply;
}
