/*import 'bulma/css/bulma.css'*/
.nav {
  background-color: #070600;
  color: #F7F7FF;
}
#navtitle {
  color: #F7F7FF;

}
#linktitle {
  color: #070600;
}
#linktitle:hover {
  color: #EA526F;
}
#navtitle:hover{
  color: #EA526F;
}
.nav-menu.nav-right.is-active {
  background-color: #070600;
}

.nav-toggle.is-active span {
  background-color: #EA526F;
}
